.slider-container2 {
    padding: 40px 13%;
    margin-bottom: 80px;
  }
  
  .popcard {
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    padding: 20px;
    margin: 15px;
    opacity: 90%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hpopmovie {
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    visibility: hidden;
  }
  
  .hmainpopmovie{
      text-align: center;
  }
  
  .slider-container2 .slick-arrow{
      background-color: var(--background-dark);
      margin: 0 -60px;
      
  }