.containerPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  margin-top: 40px;
}
.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.page-item {
  border: 1px solid var(--button-light);
  padding: 10px 0px;
  background-color: var(--card-blue);
  list-style: none;
  border-radius: 15px;
  cursor: pointer;
}
.page-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  width: 100%;
}
.disabled {
  display: none;
}
.active {
  background-color: var(--background-dark);
}

@media (max-width: 1280px) {
  .pagination {
    gap: 10px;
  }

  .page-item {
    padding: 8px 0;
  }

  .page-link {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .pagination {
    gap: 8px;
    flex-wrap: wrap;
  }

  .page-item {
    padding: 6px 0;
    border-radius: 10px;
  }

  .page-link {
    padding: 6px 10px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .pagination {
    gap: 5px;
  }

  .page-item {
    padding: 5px 0;
    border-radius: 8px;
  }

  .page-link {
    padding: 5px;
    font-size: 10px;
    text-align: center;
  }
}
