.container3 { 
  display: flex; 
  justify-content: start;
  flex-direction: column;
  z-index: 9999;
  padding: 70px;
  width: 35%;
  padding-top: 55vh;
  
  
}



.title{
    font-size: 45px;
    color: var(--text-white);
      overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2;
    -webkit-box-orient: vertical;

}

.heroContainer>.text{
    font-size: 16px;
    color: var(--text-white);
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
            line-clamp: 3;
    -webkit-box-orient: vertical;
    
}
.btnContainer{
  padding-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;

}
@media (max-width: 1440px){
  .container3 { 
    padding: 70px;
    width: 50%;
    padding-top: 50vh;
  }
  
  .title{
      font-size: 35px;
        overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2;
    -webkit-box-orient: vertical;
  
  }
  
  .heroContainer>.text{
      font-size:14px;
      
      
  }
  .btnContainer{
    padding-top: 20px;
    
  
  }
    
}
@media (max-width: 1024px){
  .container3 { 
    padding: 70px;
    width: 50%;
    padding-top: 30vh;
  }
  
  .title{
      font-size: 25px;
        overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2;
    -webkit-box-orient: vertical;
  
  }
  
  .heroContainer>.text{
      font-size:10px;
      
      
  }
  .btnContainer{
    padding-top: 10px;
    
  
  }
    
}