.movies2{
    flex:4;
    margin: 20px 40px;
    padding: 0px 20px;
     color: var(--text-white);
     height: fit-content;
     overflow: hidden;
     
     
}
.moviePageContainer2{
    display: flex;
}
.header-container>h2{
    font-size: 30px;
    word-spacing: .2cm;
    text-align: start;
    max-width: 30%;
    margin-bottom: 15px;
  }

.movie-grid2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;  
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:10px 100px 50px 100px ;
}
.movie-card2 {
    width: 80%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    padding-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
    
}
.movie-card2 img {
   
    width: 142px;
    height: auto;
    border-radius: 10px;
    opacity: 100%;
   
}
.movie-card2:hover{
    opacity: 100%;
    transform: translateY(-10px);
}
.tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--blue-logo) ;
    padding: 5px 10px;
    color: var(--text-white);
    border-radius: 5px;
    font-size: 12px;
}
.tag2{
    position: absolute;
    bottom: 60px;
    right: 20px;
    background-color: var(--card-blue) ;
    padding: 5px 10px;
    color: var(--text-white);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}
.movie-title2 {
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    text-wrap: nowrap;
}
.header-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    flex: 4;
}
.headerPageMovie{
    font-size: 38px;
    font-weight: 600;
    flex: 1;  
    margin-bottom: 15px;      
    
  
}
.section1PageMvie{
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 50px 0px 50px;
}
@media (max-width: 1600px) {
    .movie-grid2 {
        grid-template-columns: repeat(4, 1fr);
        margin: 0px;
    }

    .header-container > h2 {
        font-size: 26px;
        max-width: 40%;
    }
    .movie-card2 {
       
        margin-bottom: 10px;
       
        
    }
    .movies2{
        margin-top: 20px;
    }
    .tag {
       
        font-size: 10px;
    }
}

@media (max-width: 1024px) {
    .movie-grid2 {
        grid-template-columns: repeat(4, 1fr);
        margin: 20px 20px 0px 20px;
    }

    .movie-card2 img {
        width: 120px;
        height: 180px;
    }

    .header-container > h2 {
        font-size: 22px;
        max-width: 50%;
    }
    .moviePageContainer2{
        display: flex;
        flex-direction: column;
    } 
}

@media (max-width: 768px) {
    .movies2{
        width: 90%;
        margin: 0;
        margin: auto;
        padding: 10%;
    }
    .movie-grid2 {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 0px;
    }

    .movie-card2 {
        margin-bottom: 40px;
    }

    .movie-card2 img {
        width: 100%;
        height: auto;
    }

    .header-container > h2 {
        font-size: 18px;
        max-width: 70%;
    }
    .tag {
       
        font-size: 8px;
    }
}