.error p{
    z-index: 6666;
    text-align: center;
    color: #77251c;
    padding: 20px;
    font-size: 18PX;
   position:relative;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  @media (max-width:768px){

    .error p{
      font-size: 12PX;
    }
   
  }
  
