.containergenres{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:90%;
    margin: auto;
    margin-bottom: 15px;
    gap: 10px;
    flex-wrap: wrap;
  

}
.active{
    background-color: #f8f9fa,
}
@media (max-width:1024px){
    .containergenres{
   
        margin-bottom:0;
        gap:0px;
        
      
    
    }
  }