.trends {
  flex: 1;
  background-color: rgba(13, 27, 42, 0.6);
  margin: 120px 50px 150px 40px;
  padding: 20px 30px;
  border-radius: 15px;
  color: var(--text-white);
  height: fit-content;
}
.trends > h2 {
  font-size: 25px;
  word-spacing: 0.2cm;
  text-align: start;
}
.trends-list {
  list-style: none;
  padding: 10px;
  border-top: 1px solid var(--text-white);
}

.trend-item {
  display: flex;
  align-items: center;
  height: 150px;
  padding-bottom: 15px;
}

.trend-item img {
  height: 90%;
  border-radius: 5px;
  margin-right: 15px;
  opacity: 80%;
  transition: 0.5s;
}
.trend-item img:hover{
  opacity: 100%;
}

.trend-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4px;
}

.trend-info .title {
  font-size: 16px;
  font-weight: bold;
  text-align: start;
}

.trend-info .year {
  font-size: 14px;
  color: #888;
}

.rating {
  font-size: 14px;
  color: #ffd700;
}
