
:root {
  --background-dark: #0d1b2a;
  --nav-dark: #1b263b;
  --card-blue: #415a77;
  --title-blue: #778da9;
  --button-light: #e0e1dd;
  --text-white: #f8f9fa;
  --blue-logo: #416eb8;
  
}
body.menu-open {
  overflow: hidden;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #1b263b #0d1b2a;
  font-family: "Lato", "Roboto", Arial, Helvetica, sans-serif;
  padding: 0;
  background-color: #000;
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px;
  color: var(--text-white);
  scroll-behavior: smooth;
  
}
.container-main{
  max-width: 2000px;
  margin: 0 auto;
}

*,
::after,
::before {
  box-sizing: border-box;
  scrollbar-width: 15px;
  scrollbar-color: #1b263b #2a3a4d;
}
