.people-con{
   display: flex;
   padding: 40px 13%;
   justify-content: center;
   align-items: center;
   gap: 20px;
   flex-wrap: wrap;

}
.actor-card {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    flex-direction: column;

  }
  
  .actor-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--card-blue);
    margin: 15px;
    cursor: pointer; 
    transition: 0.5s;
    opacity: 80%;
  }
  .actor-card img:hover{
    border: 2px solid white;
    opacity: 100%;
  }
  
  .actor-card h3 {
    font-size: 12px;
    margin-top: 8px;
  }
  
  