.slider-container2 {
  padding: 40px 13%;
  margin-bottom: 80px;
}

.popcard {
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  padding: 20px;
  margin: 15px;
  opacity: 90%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.spanmovie{
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  
}
.popcard:hover .overlay{
  background-color: rgba(0, 0, 0, 0.5);
}
.popcard:hover .spanmovie{
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; 
}


.hmainpopmovie{
    text-align: center;
}

.slider-container2 .slick-arrow{
    background-color: var(--background-dark);
    margin: 0 -60px;
    
}