header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(13, 27, 42, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  width: 100%;
  height: 80px;
  box-shadow: 0 0 5px var(--background-dark);
max-width: 2000px;
margin:0 auto;
}
.search-box {
  position: relative;
  display: flex;
  padding-right: 40px;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.logoheader {
  width: 130px;
  padding: 5px;
  padding-left: 60px;
}
.logoh1 {
  font-size: 26px;
  color: var(--blue-logo);
  cursor: pointer;
}
.menu {
  display: none;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  transition: all 0.3s ease-in-out;
}

.listitem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text-white);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  top: 25px;
}

.listitem:hover::after {
  transform: scaleX(1);
}
.list > li > a {
  color: var(--text-white);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.list > li {
  list-style: none;
}
@media (max-width: 1024px){
  header {
  height: 60px;
  }
  .menu {
    display:inline-block;
    margin: 20px;
    cursor: pointer;
    z-index: 1000;
  }
  .list{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
    border-radius: 10px;
   

  }
  .list.active {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: start;

    align-items: start;
    padding:  50px;
  }
  
  .search-box {
    position: relative;
    display: flex;
    padding-right: 40px;
  }
 
  .logoheader {
    width: 120px;
  }
  .logoh1 {
   display: none;
  }
}
@media (max-width: 768px){

  .search-box {
 display: none;
  }
  .logoheader {
    width: 60px;
    padding: 5px;
    padding-left: 10px;
  }
}
