.movies{
    flex: 4;
    margin-right: 20px;
    margin: 70px 40px 150px 40px;
    padding: 0px 80px;
     color: var(--text-white);
     height: fit-content;
     overflow: hidden;
     
}
.header-container>h2{
    font-size: 30px;
    word-spacing: .2cm;
    text-align: start;
    max-width: 30%;
    margin-bottom: 15px;
  }

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    /* border-top: 2px solid var(--text-white); */
    padding: 40px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:20px 100px 0px 100px ;
}
.movie-card {
    width: 80%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    padding-bottom: 20px;
    cursor: pointer;
    margin-bottom: 60px;
    transition: 0.5s;
    
}
.movie-card img {
    width: 95%;
    width: 142px;
    height: auto;
    border-radius: 10px;
    opacity: 100%;
  
   
}
.movie-card:hover{
    opacity: 100%;
    transform: translateY(-10px);
}
.tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--blue-logo) ;
    padding: 5px 10px;
    color: var(--text-white);
    border-radius: 5px;
    font-size: 12px;
}
.tag2{
    position: absolute;
    bottom: 60px;
    right: 20px;
    background-color: var(--card-blue) ;
    padding: 5px 10px;
    color: var(--text-white);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}
.movie-title {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    text-wrap: nowrap;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    
}
.discoverLoading{
    width: 100%;
    background-color: var(--card-blue);
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    font-weight: 600;
}
@media (max-width: 1600px) {
    .movie-grid {
        grid-template-columns: repeat(4, 1fr);
        margin: 0px;
    }

    .header-container > h2 {
        font-size: 26px;
        max-width: 40%;
    }
    .movie-card {
       
        margin-bottom: 10px;
       
        
    }
    .movies{
        margin-top: -20px;
    }
}

@media (max-width: 1024px) {
    .movie-grid {
        grid-template-columns: repeat(3, 1fr);
        margin: 20px 20px 0px 20px;
    }

    .movie-card img {
        width: 120px;
        height: 180px;
    }

    .header-container > h2 {
        font-size: 22px;
        max-width: 50%;
    }
    
}

@media (max-width: 768px) {
    .movies{
        width: 90%;
        margin: 0;
        margin: auto;
        padding: 10%;
    }
    .movie-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 5px 5px;
        gap: 0px;
    }

    .movie-card {
        margin-bottom: 40px;
    }
    .movie-card:hover{
        opacity: 100%;
        transform: translateY(0px);
    }

    .movie-card img {
        width: 100%;
        height: auto;
    }

    .header-container > h2 {
        font-size: 18px;
        max-width: 70%;
    }
}


