.movies{
    flex: 4;
    margin-right: 20px;
    margin: 200px 40px 150px 40px;
    padding: 0px 80px;
     color: var(--text-white);
     height: fit-content;
     overflow: hidden;
     
     
}
.header-container>h2{
    font-size: 30px;
    word-spacing: .2cm;
    text-align: start;
    max-width: 30%;
    margin-bottom: 15px;
  }

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* border-top: 2px solid var(--text-white); */
    padding: 40px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:20px 100px 50px 100px ;
}
.movie-card {
    width: 70%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    padding-bottom: 20px;
    cursor: pointer;
    margin-bottom: 60px;
    
}
.movie-card img {
    width: 100%;
    border-radius: 10px;
    opacity: 70%;
   
}
.tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--blue-logo) ;
    padding: 5px 10px;
    color: var(--text-white);
    border-radius: 5px;
    font-size: 12px;
}
.tag2{
    position: absolute;
    bottom: 60px;
    right: 20px;
    background-color: var(--card-blue) ;
    padding: 5px 10px;
    color: var(--text-white);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}
.movie-title {
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    text-wrap: nowrap;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}